html {
    scroll-behavior: smooth;
}

body {
    background-color: #313131;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

/* Links */
a {
    color: #4894FF;
    word-wrap: break-word;
}

/* Links: hover */
a:hover {
    color: white;
}

/* Paragraphs */
p {
    width: 74%;
    margin-right: auto;
    margin-left: auto;
}

/* Lists appearance */
ul,
li {
    text-align: left;
    width: 84%;
    margin-right: auto;
    margin-left: auto;
}

/* Code appearance */
code {
    display: inline-block;
    font-family: monospace;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 4px;
    padding: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.address {
    max-width: 74%;
    word-break: break-all;
}

/* Quote appearance */
blockquote {
    margin-right: auto;
    margin-left: auto;
}

/* Line appearance */
hr {
    width: 95%;
}

/* Images appearance */
img {
    max-width: 74%;
    object-fit: contain;
}

/* Tables appearance */
table,
th,
td {
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;
}

/* Aligned text */
.center {
    text-align: center;
}

/* Text background */
.bg,
.menu {
    border: 1px solid #ffffff;
    border-radius: 24px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}


/* Menu links */
.menu a {
    margin-right: 9px;
    margin-left: 9px;
}

.flexcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 74%;
    margin-right: auto;
    margin-left: auto;
}

/* Buttons */
.button {
    background-color: #313131;
    border: 3px solid #313131;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;

    display: inline-flex;
    flex: 1 1 0;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 10px;
    justify-content: center;
}

/* Hover effect */
.button:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* Button logos */
.button img {
    margin-right: 5px;
    margin-left: 5px;
}

.logo {
    width: 24px;
}

button img .logo {
    width: 16px;
}

.qr {
    margin-left: 26px;
    margin-right: 26px;
    width: 240px;
    min-width: 240px;
    border-radius: 4px;
}

/* For side by side backgrounds */
.container {
    display: flex;
    flex-flow: row wrap;
    /* Margins also affected by item class */
    margin-left: 1.5%;
    margin-right: 1.5%;
}

/* Items in containers */
.item {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.5);
    
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 20px;
}

 /* Popup container */
.popup {
  position: relative;
  display: inline-flex;
  flex: 1 1 0;
}

/* The actual popup (appears on top) */
.popup .popupwindow {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding: 10px;
  background: #181818; /* Hardcoded instead of transparent*/
}

#dimmer {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
  visibility: visible !important; /* I know this is not recommended, sorry! */
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

.close {
    position: fixed;
    right: 16px;
    top: 16px;
    width: 20px;
    cursor: pointer;
}

/* Tic Tac Toe Game */
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: auto;
    background-color: #313131;
    color: #ffffff;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
