*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li.barText, a, button{
  font-family: Helvetica, Sans-Serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

li {
  font-family: Helvetica, Sans-Serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #232429;
  z-index: 100;
}

.logo{
  cursor: pointer;
}

.nav_links li.barText{
  display: inline-block;
  padding: 0px 30px;
}

.nav_links li.barText a{
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.nav_links li.barText a:hover{
  color: cornflowerblue;
}

button{
  padding: 9px 25px;
  background-color: rgba(39, 58, 93, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(39, 58, 93, 0.8);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
	--main-background: #0b0c0f;
	--main-fonts-color: rgb(255, 255, 255);
  --scroll-font-color:rgb(55, 95, 168);
	--main-decor-color:#3df7bf;
  --scroll-decor-color: #7b8fff;
    --main-header-background:#21252e;
	--main-font-family: 'Poppins', sans-serif;
}

.scrollText2{
  padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	color: var(--scroll-font-color);
	text-shadow: 0px 0px 40px var( --scroll-decor-color);
}

.pScrollTxt{
  text-align: center;
  border: 4px outset #1C6EA4;
  border-radius: 14px;
  line-height: 1.6;
  font-family: Helvetica, Sans-Serif;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.parallax{
  background-image: url("images/umbrellaAir.jpg");
  min-height: 1200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;  
}

  .box {
      width: 100%;
      height: 300px;
        
      border-radius: 5px;
      background-color: #def0ec;
      padding:5px;
      }
      img {
        width: 100%;
        height: 100%;
      }

a.ausA {
  text-align: center;
  line-height: 1.6;
  font-family: Helvetica, Sans-Serif;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  color: #0e76a8;
}

a.ausA:hover {
  text-decoration: underline;
}

 h3.paraText{
	padding-bottom: 15px;
  letter-spacing: normal;
  font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

#header{
  position: absolute;
  z-index: 1;
  top: 400px;
  left: 950px;
  text-align: center;
  font-family: serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
}

.text-box{
	height: 200px;
	padding: 50px;
}

/* On scroll Effect */

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

section{
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width:1000px;
  height: 500px;
  
  
}
section h1{
  font-size: 3rem;
  margin: 200px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

h3.scrollText{
  font-size: 2400px;
}

section .text-container{
  display: unset;
}

section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 2000px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

img {
  width: 100%;
  height: 100%;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
  line-height: 1.15;
}
body{
  font-family: 'lato', sans-serif;
  color: #454545;
  font-weight: 300;
  background: #ffffff;
}

/* /About us */

a{
  color: #333333;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:focus{
  outline: none;
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0 0 15px 0;
  color: #454545;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0 0 15px 0;
  color: #333333;
  font-weight: 700;
}

img{
  width: 100%;
  height: auto;
}

.container2{
  width: 100%;
  padding:50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 80px;
  margin-top: 40px;
  text-align: center;
}

.section-title h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0 0 5px;
  position: relative;
}

.section-title h1::before{
  content: '';
  left: 0;
  position: absolute;
  height: 3px;
  right: 32%;
  background-color: #50c5fc;
  bottom: -5px;

}

.container .section-title h1::before{
  left: 30%;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}

.column{
  position: relative;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  flex: 0 0 100%;
  max-width: 100%;
  align-items: center;
}

.team{
  margin-bottom:30px ;
}

.team .team-img{
  position: relative;
  font-size: 0;
  text-align: center;
}

.team .team-img img{
  width: 160px;
  height: auto;
  border-radius: 100%;
  border: 20px solid #f3f4fa;
}

.team .team-content{
  padding: 80px 20px 20px 20px;
  margin-top: -80px;
  text-align: center;
  background: #f3f4fa;
  border-radius: 10px;
}

.team .team-content h2{
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
}

.team .team-content h3{
  font-size: 16px;
  font-weight: 300;
}

.team .team-content h4{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 0;
}

.team .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.team .team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.team:hover .team-social{
    opacity: 1;
}

.team .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}

.team .team-social a.social-tw{
    background: #00acee;
    background-image: url("images/twitter.png");
}

.team .team-social a.social-fb{
    background: #3b5998;
}

.team .team-social a.social-li{
    background: #0e76a8;
}

.team .team-social a.social-in{
    background: #3f729b;
}

.team .team-social a.social-yt{
    background: #c4302b;
}

.team .team-social a:last-child{
    margin-right: 0;
}

.team:hover .team-social a{
    margin-top: 0;
}

.team .team-social a:hover{
    background: #494949;
}


/* Mobile Responsive */

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .column{
        max-width: 50%;
    }
 }
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .column{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .column{
        max-width: 25%;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
   
} 

.space { margin-top: 250px; }